<!doctype html>
<!--нужно, чтобы запустить модуль, который запускается при загрузке страницы-->
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Angular</title>
    <link rel="stylesheet" href="css/css.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>



    <div ng-app>

        <input type="text" ng-model="hello">
        <input type="text" ng-model="hello">
        {{hello}}

    </div>




<script src="../js/plugins/angular.min.js"></script>
</body>
</html>