<!doctype html>
<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Общая инфа</title>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.js"></script>
</head>
<body>


    <custom-directive></custom-directive>


<script>

    (function() {

        angular.module('app', []);


        angular.module('app')
            .directive('customDirective', function() {
                return {
                    scope: {},
                    bindToController: {},
                    controller: function() {
                        var self = this;

                        self.names = [
                            {
                                name: "Max",
                                nicknames: ["Maxi", "Zu"]
                            }, {
                                name: "Aliya",
                                nicknames: ["Alipuz", "Ali", 'li']
                            }, {
                                name: "Liliya",
                                nicknames: ["Li", "lili"]
                            }
                        ];
                    },
                    controllerAs: "customDirectiveCtrl",
                    link: function() {},
                    template: `

                        <div ng-repeat="(nameIndex, name) in customDirectiveCtrl.names track by nameIndex">
                            <h3>Info</h3>
                            <p>Name (nameIndex): {{name.name}} ({{nameIndex}})</p>
                            <p>Nickname (nicknameIndex):
                            <span ng-repeat="(nicknameIndex, nickname) in name.nicknames track by nicknameIndex">
                                 {{nickname}} ({{nicknameIndex}})

                            </span>
                            </p>
                        </div>

                    `,
                };
            });

    })();

</script>

</body>
</html>