<!doctype html>
<!--нужно, чтобы запустить модуль, который запускается при загрузке страницы-->
<html lang="ru" ng-app="store">
<head>
    <meta charset="UTF-8">
    <title>Angular</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
    <!--Делаю контроллер, чтобы вывести инфу, затем делаю алиас-->
    <div ng-controller="StoreController as store" ng-hide="store.product.soldOut">
        <ul class="list-group">
            <!--Теперь использую ng-repeat, чтобы повторять объекты gems, фильтр limitTо уменьшает количество элементов до указанного. orderBy - сортирует элементы, без - будет сортировать в обратном порядке, также если поставить - перед фильтром - значит в обратном порядке-->
            <li class="list-group-item" ng-repeat="product in store.products | limitTo:3 | orderBy:'-price'">
                <h1>{{product.name}}</h1>
                <!--| - означает возьми результат первого выражения и пробрось во второе, currency - локализует валюты и доставляет
                десятичные цифры-->
                <h2>{{product.price | currency}}</h2>
                <p>{{product.description}}</p>
                <!--ng-show - показывает только когда выполняется условие-->
                <button ng-show="store.product.canPurchase">Add to cart</button>
                <!--Так подгружаю картинки-->
                <img ng-src="{{product.images[0].full}}" />

                <!-- ng-init - задает init значение в скоупе
                ng-class - передаю объект, где active - имя класса (key), а value - значение, при котором этот класс нужно показывать
                -->
                <section ng-controller="PanelController as panel">
                    <ul class="nav nav-pills">
                        <li ng-class="{active: panel.isSelected(1)}">
                            <a href="" ng-click="panel.selectTab(1)">Description</a>
                        </li>
                        <li ng-class="{active: panel.isSelected(2)}">
                            <a href="" ng-click="panel.selectTab(2)">Specification</a>
                        </li>
                        <li ng-class="{active: panel.isSelected(3)}">
                            <a href="" ng-click="panel.selectTab(3)">Reviews</a>
                        </li>
                    </ul>

                    <div class="panel" ng-show="panel.tab === 1">
                        <h4>Description</h4>
                        <p>{{product.description}}</p>
                    </div>
                    <div class="panel" ng-show="panel.tab === 2">
                        <h4>Specification</h4>
                        <p>not yet</p>
                    </div>
                    <div class="panel" ng-show="panel.tab === 3">
                        <h4>Reviews</h4>
                        <div ng-repeat="review in product.reviews">
                            <b>Stars: {{review.stars}}</b>
                            {{review.body}}
                            <cite>by: {{review.author}}</cite>
                        </div>

                        <form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewCtrl.addReview(product)">
                            <div>
                                <b>Stars: {{reviewCtrl.review.stars}}</b>
                                {{reviewCtrl.review.body}}
                                <cite>by: {{reviewCtrl.review.author}}</cite>
                            </div>
                            <!-- ng-model - директива для связывания модели и вью, т.е. например review.stars связывается с {{review.stars}}-->

                            <!-- Также можно использовать ng-model директиву для чекбоксов
                            <input ng-model="review.terms" type="checkbox" /> - возвращает true/false text

                            также на radio buttons
                            <input ng-model="review.color" type="radio" value="red" /> Red
                            <input ng-model="review.color" type="radio" value="blue" /> blue
                            <input ng-model="review.color" type="radio" value="green" /> green
                            -->
                            <select ng-model="reviewCtrl.review.stars">
                                <option value="1">1 star</option>
                                <option value="2">2 star</option>
                                <option value="3">3 star</option>
                                <option value="4">4 star</option>
                                <option value="5">5 star</option>
                            </select>
                            <textarea ng-model="reviewCtrl.review.body"></textarea>
                            <label>by</label>
                            <input type="email" ng-model="reviewCtrl.review.author">
                            <input type="submit" value="submit">
                        </form>
                    </div>
                </section>
            </li>
        </ul>
    </div>




<script src="js/plugins/angular.min.js"></script>
<script src="js/modules/app.js"></script>
</body>
</html>