<!doctype html>
<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Общая инфа</title>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
</head>
<body>


<!--
function MyService(){

}
MyService.$inject = ['$http'];

angular.module('myapp')
.service('MyService', MyService);

так могу делать инжекты, помимо записи в параметры
angular.module('myapp')
.service('MyService', function($http) {});

так могу делать полную, форму записи
angular.module('myapp')
.service('MyService',["http", function($http) {}]);


Посмотреть
ngResorce
Restangular
-->

<div outer-directive>

<input type="text" ng-model="outsideData">
<currency-calc userName="outsideData" uservalue="{{outsideData}}" call="outsideCtrl.sayhi(name)"></currency-calc>

</div>

<script>

    (function() {

        angular.module("app", []);

        /**Factory**/
        angular.module("app")
            .factory("getCurrenyFactory", function($http) {
                var get = function() {
                    return $http.get("currencyData.json")
                };

                return {
                    get: get
                }
            });

        /**Directive**/
        angular.module("app")
            .directive("outerDirective", function() {
                return {
                    scope: {},
                    link: function(scope, elem, attrs) {

                    },
                    controller: function() {
                        this.sayhi = function(name) {
                            alert('Hello' + name);
                        };
                    },
                    controllerAs: "outsideCtrl"
                };
            });

        angular.module("app")
            .directive("currencyCalc", function($q, $timeout, getCurrenyFactory) {
                    return {
                        scope: {
                            user: "=username", //двойное связывание,
                            uservalue: "@", //просто передача значения извне внутрь, но не в обратную сторону
                            call: "&" //коллбек
                        },
                        link: function(scope, elem, attrs, ctrl) {
                            console.log(JSON.stringify(ctrl));
                        },
                        controller: function($scope) {
                            var self = this;
                            //можно вотчером
                            /*$scope.$watch("currencyCalcCtrl.inputText", function(newVal, oldVal) {
                                self.data = self.inputText;
                                console.log(123);
                            });*/

                            //а лучше через функцию
                            this.getText = function() {
                                return self.inputText;
                            };

                        },
                        controllerAs: "currencyCalcCtrl",
                        template: `
                        <p>Поле для двойного датабиндинга</p>
                        <input type='text' ng-model='user'>

                        <p>Поле для @ - биндинга внутрь</p>
                        <input type='text' ng-model='uservalue'>

                        <p>Поле для & - колбека</p><button ng-click="call({name: user})">Trigger click</button>

                        <p>Пример обновления нового свойства из существующего</p>{{currencyCalcCtrl.getText()}}
                        <input type='text' ng-model='currencyCalcCtrl.inputText'>`
                    };
            });

//        когда вызываю call({name: user}) либо в шаблоне, либо в коде, всегда параметр должен передавать в виде объекта, их можно использовать в множестве директив

    })();

</script>


</body>
</html>