<!doctype html>
<!--нужно, чтобы запустить модуль, который запускается при загрузке страницы-->
<html lang="ru" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Angular</title>
</head>
<body>

<div ng-controller="myName as my">

    <div ng-controller="wifeName as wife">
        <button ng-click="my.showName(wife.name)">Show name</button>
        <span ng-show="my.showWife">{{my.wifeName}}</span>
    </div>
    <div ng-controller="brotherName as brother">
        <button ng-click="my.showName(brother.name)">Show name</button>
        <span ng-show="my.showBrother">{{my.brotherName}}</span>
    </div>

</div>

<script src="../../js/plugins/angular.min.js"></script>
<script src="./js/modules/main.js"></script>
</body>
</html>