<!doctype html>
<!--нужно, чтобы запустить модуль, который запускается при загрузке страницы-->
<html lang="ru" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Angular http</title>
</head>
<body ng-controller="MainController as mainCtrl">


<input type="text" ng-model="name.name">
<button ng-click="mainCtrl.addName(name)">Add name</button>123

<ul>
    <li ng-repeat="name in mainCtrl.names track by $index">{{name.name}}</li>
</ul>


<script src="../js/plugins/angular.min.js"></script>
<script>

    (function() {

        var app = angular.module('app', []);

        app.controller("MainController", function($http) {
            var self = this;

            $http
                .get("http://localhost:2000/names")
                .success(function(data) {
                    self.names = data;
                })
                .error(function(err) {
                    console.log(err);
                });

            this.addName = function(name) {

                if (name) {
                    $http.post("http://localhost:2000/names", name)
                            .success(function(data) {
                                self.names = data;
                            })
                            .error(function(err) {
                                console.log(err);
                            });
                }
            };
        });

    })();

</script>
</body>
</html>