<!doctype html>
<!--нужно, чтобы запустить модуль, который запускается при загрузке страницы-->
<html lang="ru" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Angular</title>
    <link rel="stylesheet" href="css/css.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>

    <div ng-controller="CarouselController as carousel">

        <div class="carousel" ng-show="carousel.length">

            <span ng-class="{arrow_disabled: carousel.pos <= 0}" class="arrow arrow_prev" ng-click="carousel.goLeft()" ng-cloak><</span>

            <span ng-class="{arrow_disabled: carousel.pos >= carousel.length - carousel.visibleItems}" class="arrow arrow_next" ng-click="carousel.goRight()" ng-cloak>></span>

            <div class="carousel__inner">
                <ul class="carousel__list" ng-style="carousel.position">
                    <li class="carousel__item" ng-repeat="image in carousel.images">
                        <img ng-src="{{image.img}}" />
                    </li>
                </ul>
            </div>

        </div>

        <p class="info" ng-cloak ng-show="carousel.info">{{carousel.pos}}</p>

    </div>



<script src="js/plugins/jquery.js"></script>
<script src="js/plugins/angular.min.js"></script>
<script src="js/modules/app.js"></script>
</body>
</html>