.carousel {
    position: relative;
    width: 1100px;
    margin: 200px auto 20px;
}

.info {
    font-size: 30px;
    text-align: center;
}

.carousel__inner {
    position: relative;
    width: 940px;
    margin: auto;
    overflow: hidden;
}

.carousel__list {
    white-space: nowrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    transition: transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.carousel__item {
    display: inline-block;
    vertical-align: top;
    width: 300px;
    white-space: normal;
    margin: 0;
    padding: 0;
}

.carousel__item+.carousel__item {
    margin-left: 20px;
}

.carousel__item img {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    height: auto;
    vertical-align: middle;
}

.arrow {
    position: absolute;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    top: 50%;
    margin-top: -25px;
    font-size: 80px;
    font-family: Arial;
    cursor: pointer;
    opacity: 0.8;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.arrow:hover {
    opacity: 1;
}

.arrow_prev {
    left: 0;
}

.arrow_next {
    right: 0;
}

.arrow_disabled,
.arrow_disabled:hover {
    opacity: 0.3;
    cursor: default;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}